/* BOTÕES */

/* #region --- BOTÃO PRINCIPAL */

.btn1 {
	display: flex;
	align-items: center;
	gap: 0.75rem;

	font-size: 0.875rem;
	font-weight: 500;
	color: var(--p1);

	background: var(--p4);
	border-radius: 0.5rem;
	padding: 0.75rem 2rem;
	cursor: pointer;
	transition: 0.3s ease;
}

.btn1:hover {
	color: var(--c00);
	background: var(--p2);
	scale: 102%;
}

/* #endregion */

/* #region --- BOTÃO VAZADO */

.btn2 {
	display: flex;
	align-items: center;

	font-size: 0.875rem;
	font-weight: 600;
	color: var(--p4);

	background-color: none;
	border-radius: 0.5rem;
	border: 2px solid var(--p3);
	padding: 0.75rem 2rem;
	cursor: pointer;
	transition: 0.3s ease;
}

.btn2:hover {
	color: var(--c00);
	background-color: var(--p2);
	border: 2px solid var(--p2);
	scale: 104%;
}

/* #endregion */

/* #region --- BOTÃO CONFIRMAÇÃO */

.btn3 {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.875rem;

	font-size: 1rem;
	font-weight: 500;
	color: var(--c00);

	background: var(--p2);
	border-radius: 0.5rem;
	padding: 0.75rem 1.5rem;

	cursor: pointer;
	transition: 0.3s ease;
}

.btn3:hover {
	filter: brightness(110%);
	scale: 101%;
	box-shadow: var(--shadow1);
}

/* #endregion */

/* #region --- BTN CLOSE */

.btn-close {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	transition: .3s ease;
	cursor: pointer;
}

.btn-close:focus {
	outline: none;
}

.btn-close > svg circle,
.btn-close > svg path {
	transition: .3s ease;
}

.btn-close:hover > svg circle,
.btn-close:focus > svg circle {
	stroke: var(--s4);
	fill: var(--s4);
}

.btn-close:hover > svg path,
.btn-close:focus > svg path {
	fill: var(--c00);
}

/* #endregion */

/* #region --- RESPONSIIVO */

@media (max-width: 1440px) {

	.btn1,
	.btn2 {
		padding: 0.675rem 1.75rem;
	}

	.btn3 {
		font-size: 0.875rem;
	}
}

@media (max-width: 1080px) {

	.btn1,
	.btn2 {
		padding: 0.75rem 1.25rem;
		font-size: 0.75rem;
	}
}

@media (max-width: 720px) {

	.btn1,
	.btn2 {
		padding: 0.75rem 1.125rem;
		font-size: 0.875rem;
		justify-content: center;
	}

	.btn3 {
		font-weight: 600;
	}
}

/* #endregion */