/* -------------------- SITE -------------------- */

@import url('./global/header.css');
@import url('./global/footer.css');

/* PAGES */
@import url('./pages/home.css');
@import url('./pages/search.css');
@import url('./pages/about.css');
@import url('./pages/brokers.css');
@import url('./pages/partners.css');

/* PRODUCTS */
@import url('./products/product-layout.css');
@import url('./products/simulation.css');
@import url('./products/scheduling.css');


/* #region --- MAPA */

.masterplan {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
}

.masterplan h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--p4);

    margin-left: 5rem;
    margin-bottom: 0.5rem;
}

.masterplan p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--c60);

    max-width: 40ch;
    margin-left: 5rem;
    margin-bottom: 2rem;
}

.masterplan map {
    position: relative;
    z-index: 0;
}

.masterplan map:before {
    content: '';
    display: block;
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
    background-color: var(--c00);
    opacity: 50%;
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.masterplan img {
    border-radius: 1rem;
}

.masterplan svg {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#quadras path {
    fill: none;
    transition: 0.4s ease;
    cursor: pointer;
}

#lotes g > path.disponivel {
    fill: rgb(0, 70, 50);
    opacity: 0.7;
}

#lotes g > path.indisponivel {
    fill: rgb(0, 218, 164);
    opacity: 0.3;

}

/* QUADRA INDISPONÍVEL */
#quadras path.indisponivel {
    fill: rgba(0, 65, 40, 0);
}

/* QUADRA DISPONÍVEL */
#quadras path.disponivel {
    fill: rgba(0, 255, 136, 0);
    opacity: 0.7;
}

/* QUADRA HOVER */
#quadras path.disponivel:hover {
    fill: rgba(0, 255, 98, 0.3);
    stroke: rgb(0, 238, 119);
    stroke-width: 3px;
}