.card-page {
    display: grid;
    height: 100vh;
    width: 100%;
    place-content: center;
    background: rgba(235, 235, 235, 0.6);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    animation: fade-in .4s forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.card-wrapper {
    background-color: var(--c00);
    border: 1px solid var(--c20);
    border-radius: 2rem;
    box-shadow: var(--shadow1);
    padding: 5rem 2rem 2rem 3rem;
    position: relative;
    width: 27rem;
    transform: translateY(40px);
    transition: .3s ease;
    animation: show-up .4s forwards;
}

.card-wrapper:hover {
    scale: 100.5%;
}

@keyframes show-up {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.card-wrapper::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 10rem;
    background: url('/assets/site/footer/bg-footer-card.svg') bottom;
    border-radius: 0 0 2rem 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.card-header > h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--p6);
    margin-top: .5rem;
}

.card-header > p {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.4;
    color: var(--c50);
    margin-block: .25rem 2rem;
}

.card-header p > em {
    font-style: normal;
    color: var(--p3);
}

.card-list li {
    display: flex;
    gap: .75rem;
    align-items: start;
}

.card-list li + li {
    margin-top: 1.5rem;
}

.card-list h3 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--p6);
}

.card-list p {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--c50);
    margin-top: .25rem;
}

.card-footer {
    height: 3rem;
    display: grid;
    place-content: center;
    margin-top: 2rem;
    margin-right: 1rem;
}

/* #region --- RESPONSIVO */

@media (min-width: 720px) and (max-width: 1440px) {
    .card-wrapper {
        scale: 85%;
    }

    .card-wrapper:hover {
        scale: 85.5%;
    }
}

@media (max-width: 720px) {
    .card-page {
        place-content: end;
        padding: .25rem;
    }

    .card-wrapper {
        padding-top: 3rem;
        border-radius: 2.5rem;
        width: 100%;
        transform: translateY(300px);
    }

    @keyframes show-up {
        0% {
            opacity: 0;
            transform: translateY(300px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .card-wrapper::before {
        content: '';
        display: inline-block;
        width: 2rem;
        height: 0.25rem;
        border-radius: 0.25rem;
        background-color: var(--c30);
        position: absolute;
        top: 0.75rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 200;
    }

    .card-footer {
        margin-top: 1rem;
    }
}

/* #endregion */