/* #region --- INTRO */

.emp-intro {
	display: grid;
	grid-template-columns: 5fr 7fr;
	gap: 2.5rem 4rem;
	align-items: end;
	margin-bottom: 10rem;
}

.emp-intro > div:first-child {
	border-radius: 1rem;
}

.swiper {
	border-radius: 1rem;
	width: 100%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
	font-size: 1rem !important;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 8px 12px;
	border-radius: 50%;
	transition: 0.3s ease;
}

.swiper-button-next:hover:after,
.swiper-button-prev:hover:after {
	background-color: rgba(255, 255, 255, 0.4);
}

.intro-slide {
	position: relative;
	grid-row: 1/4;
}

.intro-slide::after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 100%;
	background: radial-gradient(50% 50% at 50% 50%, rgba(198, 228, 205, 1) 0%, rgba(228, 254, 234, 0) 100%);
	position: absolute;
	top: -4rem;
	right: -40%;
	z-index: -10;
}

.intro-slide img {
	border-radius: 1rem;
}

.intro-titulo {
	align-self: end;
	grid-row: 2;
}

.titulo-mobile {
	display: none;
}

.intro-titulo span {
	font-size: 0.875rem;
	font-weight: 500;
	color: var(--c00);
	background-color: var(--c30);
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	transition: 0.3s ease;
}

.intro-titulo:hover > .closed-condo {
	background-color: var(--s2);
}

.intro-titulo:hover > .planned-neighborhood {
	background-color: var(--s1);
}

.intro-titulo h1 {
	font-size: 2.5rem;
	font-weight: 700;
	color: var(--p5);
	margin-top: 0.5rem;
}

.intro-titulo p {
	font-size: 1.25rem;
	font-weight: 500;
	color: var(--p5);
}

.intro-conteudo {
	grid-column: 2;
	grid-row: 3;
}

.intro-conteudo p {
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 500;
	color: var(--c70);
	max-width: 45ch;
	margin-bottom: 1.5rem;
}

.intro-conteudo em {
	color: var(--p3);
	font-style: normal;
}

.intro-detalhes {
	margin-bottom: 4rem;
}

.intro-detalhes > span {
	font-size: 0.875rem;
	font-weight: 600;
	color: var(--c60);
}

.intro-detalhes > div {
	display: flex;
	gap: 1rem;
	margin-top: 0.5rem;
}

.intro-detalhes > div > span {
	font-size: 1rem;
	font-weight: 500;
	color: var(--c60);

	background-color: var(--c00);
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);

	display: flex;
	align-items: center;
	transition: 0.3s ease;
}

.intro-detalhes > div > span:hover {
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.intro-detalhes > div > span::before {
	content: '';
	display: flex;
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 0.5rem;
}

.detalhes-medida::before {
	background-image: url('https://strfiles.blob.core.windows.net/empreendimentos/icons/buttons/ruler.svg');
}

.detalhes-valor::before {
	background-image: url('https://strfiles.blob.core.windows.net/empreendimentos/icons/buttons/money.svg');
}

.intro-conteudo button::before {
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url('https://strfiles.blob.core.windows.net/empreendimentos/icons/buttons/calc.svg');
	transition: 0.4s ease;
}

/* #endregion */

/* #region --- RESPONSIVO INTRO*/

@media (max-width: 1440px) {
	.emp-intro {
		margin-bottom: 8rem;
		gap: 3rem;
	}
}

@media (max-width: 1080px) {
	.emp-intro {
		grid-template-columns: 1fr 1fr;
		margin-bottom: 10rem;
		margin-top: 1.5rem;
		gap: 1.5rem;
	}

	.intro-titulo h1 {
		font-size: 1.5rem;
	}

	.intro-titulo p {
		font-size: 0.875rem;
		line-height: 1.3;
	}

	.intro-detalhes > div > span {
		font-size: 0.875rem;
	}
}

@media (max-width: 720px) {
	main:has(.emp-intro) {
		padding-top: 4.5rem;
	}

	.emp-intro {
		grid-template-columns: 1fr;
		margin-bottom: 0rem;
		gap: 0;
		position: relative;
	}

	.intro-slide {
		grid-row: 1;
	}

	.intro-slide img {
		width: 100%;
	}

	.intro-slide::after {
		display: none;
	}

	.intro-slide::before {
		content: '';
		display: inline-block;
		width: 100%;
		height: 100%;
		background: linear-gradient(0deg, rgba(24, 45, 37, 0.8) 0%, rgba(24, 45, 37, 0) 30%);
		border-radius: 1rem;

		position: absolute;
		top: 0;
		z-index: 2;
	}

	.intro-titulo {
		display: flex;
		flex-direction: column;
		align-items: start;
		grid-row: 1;
		height: 86%;
		justify-content: space-between;

		position: absolute;
		top: 1.5rem;
		left: 0.75rem;
		z-index: 3;
	}

	.titulo-mobile {
		display: flex;
	}

	.titulo-desktop {
		display: none;
	}

	.intro-titulo span {
		font-size: 0.75rem;
		margin-left: 1rem;
		background: rgba(53, 73, 66, 0.3);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		box-shadow: var(--shadow2);
	}

	.intro-titulo h1 {
		z-index: 0;
		margin-left: 1rem;
		color: var(--b1);
	}

	.intro-titulo p {
		font-size: 1rem;
		margin-left: 1rem;
		color: var(--b1);
	}

	.intro-conteudo {
		display: flex;
		flex-direction: column;
		background: var(--b1);
		padding: 1.5rem 0.75rem;

		grid-column: 1;
		grid-row: auto;
	}

	.intro-conteudo p {
		margin-left: 1rem;
		max-width: 100%;
		position: relative;
	}

	.intro-conteudo p::before {
		content: '';
		display: inline-block;
		width: 4px;
		height: 100%;
		background-color: var(--c20);
		border-radius: 8px;
		position: absolute;
		left: -12px;
	}

	.intro-detalhes {
		margin-bottom: 3rem;
	}

	.intro-detalhes > span {
		margin-left: 1rem;
	}

	.intro-conteudo button {
		justify-content: center;
		width: 100%;
	}
}

/* #endregion */

/* #region --- DESTAQUES */

.emp-destaques {
	background: var(--c00);
	border-radius: 1rem;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);

	padding: 3rem 7rem;
	margin-bottom: 6rem;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: space-between;
	gap: 2rem;
}

.emp-destaques p {
	font-size: 1.25rem;
	font-weight: 600;
	margin-top: 0.25rem;
	color: var(--p4);
}

.emp-destaques strong {
	color: var(--p2);
	font-weight: 600;
}

/* #endregion */

/* #region --- RESPONSIVO DESTAQUES */

@media (max-width: 1440px) {
	.emp-destaques {
		padding: 3rem 4rem;
	}

	.emp-destaques img {
		width: 40px;
		height: auto;
	}

	.emp-destaques p {
		font-size: 1.125rem;
	}
}

@media (max-width: 1080px) {
	.emp-destaques {
		padding: 2rem 2rem;
		gap: 1rem;
	}

	.emp-destaques p {
		font-size: 1rem;
	}

	.emp-destaques img {
		width: 32px;
	}
}

@media (max-width: 720px) {
	.emp-destaques {
		display: none;
	}
}

/* #endregion */

/* #region --- FOTOS */

.emp-fotos {
	margin-bottom: 6rem;
	display: flex;
	flex-direction: column;
	gap: 4rem;
	justify-content: center;
}

.emp-fotos picture {
	margin: 0 auto;
}

.emp-fotos img {
	border-radius: 1rem;
}

.logo-emp {
	width: 224px;
	height: auto;
}

.divFrame {
	width: 80%;
	margin: 0 auto;
}

.divFrame > div {
	border-radius: 1rem;
}

#video {
	width: 10vw;
	height: 8vh;
}

.videoContainer {
	width: 85%;
}

.plyr__video-wrapper {
	border-radius: 1rem;
}

/* #endregion */

/* #region --- RESPONSIVO FOTOS */

@media (max-width: 1080px) {
	.logo-emp {
		width: 192px;
	}

	.divFrame {
		width: 100%;
	}
}

@media (max-width: 720px) {
	.emp-fotos {
		padding-top: 4rem;
		gap: 2rem;
	}
}

/* #endregion */

/* #region --- INFORMAÇÕES */

.emp-informacoes {
	padding: 0 3rem;
	margin-bottom: 8rem;
}

.emp-informacoes h2 {
	font-size: 2rem;
	font-weight: 700;
	color: var(--p4);

	margin-left: 2rem;
	margin-bottom: 3rem;
}

.emp-informacoes ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.info-box {
	background: var(--c00);
	border-radius: 0.75rem;
	padding: 1.5rem 2rem;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	transition: 0.4s ease;
}

.info-box:hover {
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
}

.info-box h3 {
	font-size: 1.125rem;
	font-weight: 600;
	color: var(--p4);

	margin: 0.25rem 0;
}

.info-box p {
	font-size: 0.875rem;
	line-height: 1.5;
	color: var(--c70);
}

/* #endregion */

/* #region --- RESPONSIVO INFORMAÇÕES */

@media (max-width: 1440px) {
	.emp-informacoes {
		padding: 0 1rem;
	}

	.emp-informacoes h2 {
		margin-bottom: 2.5rem;
	}

	.emp-informacoes ul {
		gap: 1.5rem;
	}
}

@media (max-width: 1080px) {
	.emp-informacoes {
		padding: 0;
	}

	.emp-informacoes h2 {
		font-size: 1.5rem;
		margin-bottom: 2rem;
	}

	.info-box {
		padding: 1.5rem 2rem;
	}

	.emp-informacoes ul {
		grid-template-columns: repeat(2, 1fr);
		gap: 1.5rem;
	}

	.info-box h3 {
		font-size: 1rem;
	}
}

@media (max-width: 720px) {
	.emp-informacoes {
		margin-bottom: 6rem;
	}

	.emp-informacoes h2 {
		margin-left: 1rem;
	}

	.emp-informacoes ul {
		display: flex;
		gap: 1rem;
		overflow-x: scroll;
		padding-bottom: 1rem;
		margin-inline: -1rem;
		padding-inline: 1rem;
	}

	.info-box {
		height: 16rem;
	}

	.info-box p {
		width: 13rem;
	}
}

/* #endregion */

/* #region --- REGIÃO */

.emp-regiao {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-inline: 3rem;
}

.emp-regiao h2 {
	font-size: 2rem;
	font-weight: 700;

	color: var(--p4);
	margin-bottom: 2rem;
	margin-left: 2rem;
}

.emp-regiao p {
	font-size: 1rem;
	line-height: 1.5;
	color: var(--c70);

	max-width: 45ch;
	margin-bottom: 1.25rem;
}

.emp-regiao img {
	border-radius: 1rem;
}

/* #endregion */

/* #region --- RESPONSIVO REGIÃO */

@media (max-width: 1440px) {
	.emp-regiao {
		padding-inline: 1rem;
	}

	.emp-regiao h2 {
		font-size: 2rem;
		margin-bottom: 1.5rem;
	}

	.emp-regiao p {
		font-size: 0.875rem;
	}
}

@media (max-width: 1080px) {
	.emp-regiao {
		grid-template-columns: 1fr;
		padding-inline: 0;
	}

	.emp-regiao h2 {
		font-size: 1.5rem;
	}

	.emp-regiao picture {
		grid-column: 1/-1;
		margin: 0 auto;
	}
}

@media (max-width: 720px) {
	.emp-regiao {
		padding-inline: 1rem;
	}

	.emp-regiao p {
		margin-left: 1rem;
	}
}

/* #endregion */

/* #region --- BANNER */

.emp-banner {
	border-radius: 1rem;
	background-color: var(--p5);
	margin: 8rem 0;
}

.emp-banner h2 {
	font-size: 2rem;
	font-weight: 700;
	color: var(--c00);

	text-align: center;
	padding: 3rem 0;
}

.emp-banner strong {
	color: var(--p1);
}

/* #endregion */

/* #region --- RESPONSIVO BANNER */

@media (max-width: 1080px) {
	.emp-banner h2 {
		font-size: 1.5rem;
		padding: 2rem 0;
	}
}

@media (max-width: 720px) {
	.emp-banner {
		border-radius: 0.75rem;
		margin: 4rem 1rem;
	}

	.emp-banner h2 {
		font-size: 1rem;
		padding: 1.5rem 0;
	}
}

/* #endregion */

/* #region --- MAPA */

.emp-mapa {
	display: flex;
	flex-direction: column;
	margin-bottom: 6rem;
}

.emp-mapa h2 {
	font-size: 2rem;
	font-weight: 700;
	color: var(--p4);

	margin-left: 5rem;
	margin-bottom: 0.5rem;
}

.emp-mapa p {
	font-size: 1rem;
	font-weight: 400;
	color: var(--c60);

	max-width: 40ch;
	margin-left: 5rem;
	margin-bottom: 2rem;
}

.emp-mapa map {
	position: relative;
	z-index: 0;
}

.emp-mapa map:before {
	content: '';
	display: block;
	width: 100%;
	height: 20rem;
	border-radius: 1rem;
	background-color: var(--c00);
	opacity: 50%;
	position: absolute;
	top: 4rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
}

.emp-mapa img {
	border-radius: 1rem;
}

.emp-mapa svg {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.emp-mapa svg path {
	transition: 0.4s ease;
}

/* QUADRA INDISPONÍVEL */
.indisponivel > path {
	fill: rgba(0, 65, 40, 0.5);
}

/* QUADRA DISPONÍVEL */
.disponivel > path {
	fill: rgba(0, 255, 137, 0.3);
}

/* QUADRA HOVER */
.disponivel > path:hover {
	fill: rgba(0, 255, 137, 0.5);
	stroke: rgb(0, 255, 137);
	stroke-width: 3px;
}

.map-call {
	display: none;
}

/* .quadra {
    max-width: max-content;
    height: max-content;
    margin-top: 12rem;

    background: var(--b3);
    padding: 0.25rem;
    border-radius: 10px;
    border: 1px solid var(--c30);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.quadra-escolha {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;

    background: var(--c00);
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

    font-size: 0.875rem;
    color: var(--c40);
    z-index: 1;
}

.quadra-escolha::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 6px;
    background: url('../../img/site/icones/seta.png) no-repeat;
}

.quadra-escolha:hover::after {
    transform: rotate(180deg);
    transition: 0.3s;
}

.quadras-disponiveis {
    display: none;

    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

.quadras-disponiveis li {
    background: rgba(255, 255, 255, 0.5);
    padding: 0.5rem 1.5rem;
    color: var(--c70);
}

.quadras-disponiveis li:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
}

.quadras-disponiveis li:last-child {
    border-radius: 0 0 0.5rem 0.5rem;
}

.quadras-disponiveis li:nth-child(odd) {
    background: rgba(255, 255, 255, 0.75);
}

.quadra-tabela {
    display: none;

    margin-top: 0.5rem;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    border-collapse: collapse;
    text-align: center;
    z-index: 1;
}

.quadra-tabela thead th {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--c50);

    background: rgba(255, 255, 255, 0.5);
    padding: 0.875rem 1rem;
    width: 5rem;
}

.quadra-tabela thead .th-1 {
    border-radius: 0.5rem 0 0 0.5rem;
}

.quadra-tabela thead .th-4 {
    border-radius: 0 0.5rem 0.5rem 0;
}

.quadra-tabela tbody tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.5);
}

.quadra-tabela tbody td {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--c70);
    padding: 0.5rem 1rem;
}

.quadra-tabela tbody td + td {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
} */

/* #endregion */

/* #region --- RESPONSIVO MAPA */

@media (max-width: 1440px) {
	/* .quadra {
        margin: 7rem auto 0 auto;
    } */
}

@media (max-width: 1080px) {
	.emp-mapa h2 {
		font-size: 1.5rem;
		margin-left: 2rem;
	}

	.emp-mapa p {
		font-size: 0.875rem;
		margin-left: 2rem;
	}

	/* .quadra {
        margin-top: 2rem;
    } */
}

@media (max-width: 720px) {
	.emp-mapa {
		margin-bottom: 1rem;
	}

	.emp-mapa h2 {
		margin-left: 1rem;
	}

	.emp-mapa p {
		font-size: 0.875rem;
		max-width: max-content;
		margin-left: 1rem;
		margin-bottom: 3rem;
	}

	.emp-mapa map:before {
		display: none;
	}

	.map-call {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		justify-content: center;
		margin-top: 4rem;
	}

	.map-call span {
		font-size: 0.875rem;
		font-weight: 500;
		font-style: italic;
		text-align: center;
		color: var(--c50);
		display: block;
	}

	.map-call button {
		justify-content: center;
	}

	.map-call button:before {
		content: '';
		display: inline-block;
		width: 1.5rem;
		height: 1.5rem;
		background: url('/assets/site/btn-icons/calc.svg');
	}

	/* .quadra {
        margin: 2rem auto 0 auto;
    } */
}

/* #endregion */