/* #region --- HEADER */

.header-navbar {
	padding-block: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-menu {
	display: flex;
	gap: 2.5rem;

	color: var(--p5);
	font-size: 0.875rem;
	font-weight: 600;
}

.header-menu a {
	transition: 0.3s ease;
}

.header-menu a:hover {
	color: var(--p2);
}

.btn-mobile {
	display: none;
}

.header-btns {
	display: flex;
	gap: 1rem;
}

.mobile-navbar {
	display: none;
}

/* #endregion */

/* #region --- RESPONSIVO HEADER */

@media (max-width: 1440px) {
	.header-navbar {
		padding-block: 2.5rem;
	}

	.header-menu {
		gap: 2rem;
		font-size: 0.875rem;
	}

	.header-btns {
		gap: 1rem;
	}
}

@media (max-width: 1080px) {
	.header-navbar {
		padding-block: 3rem;
		display: grid;
		grid-template-columns: auto auto;
		gap: 3rem 0.75rem;
		justify-content: space-around;
	}

	.logo {
		grid-column: 1 / -1;
		justify-self: center;
	}

	.header-menu {
		grid-row: 2;
		gap: 1.5rem;
		font-size: 0.75rem;
		background-color: rgba(255, 255, 255, 0.6);
		padding: 0.75rem 1rem;
		border-radius: 0.5rem;
	}

	.header-btns {
		grid-row: 2;
		gap: 0.75rem;
	}
}

@media (max-width: 720px) {
	#header {
		background: linear-gradient(180deg, rgba(239, 243, 243, 1) 20%, rgba(239, 243, 243, 0) 80%);
		padding-block: 0.5rem 1rem;
		position: fixed;
		width: 100%;
		z-index: 1;
	}

	#header::before {
		content: '';
		display: inline-block;
		width: 100%;
		height: 100%;
		mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 80%, transparent);
		-webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 80%, transparent);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	.header-navbar {
		padding-block: 0.75rem;
		padding-inline: 1.25rem 0.75rem;
		border-radius: 0.75rem;
		grid-template-columns: auto auto;
		gap: 0;
		justify-content: space-between;

		background: rgba(255, 255, 255, 0.8);
		box-shadow: var(--shadow2);
		-webkit-backdrop-filter: saturate(180%) blur(5px);
		backdrop-filter: saturate(180%) blur(5px);
	}

	.logo {
		grid-row: 1;
		grid-column: 1;
		justify-self: start;
	}

	.header-menu {
		display: none;
	}

	.header-btns {
		display: none;
	}

	.btn-mobile {
		display: flex;
	}

	.btn-mobile button {
		background-color: var(--p4);
		padding: 12px 9px;
		border-radius: .25rem;
		cursor: pointer;
		transition: .3s ease;
	}

	.btn-mobile button:hover {
		background-color: var(--p3);
	}
}

/* #endregion */

/* MOBILE NAVBAR */

@media (max-width: 720px) {
	.mobile-navbar {
		background: rgba(255, 255, 255, 0.8);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);

		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;

		width: 100vw;
		max-width: 100vw;
		height: 100dvh;
		display: flex;
		transition: clip-path .3s ease;
		animation: crescer .5s forwards;
	}

	@keyframes crescer {
		from {
			opacity: 0.4;
			clip-path: circle(2% at 90% 5%);
		}

		to {
			opacity: 1;
			clip-path: circle(150% at 90% 5%);
		}
	}

	.mobile-navbar ul {
		align-self: end;
		margin-bottom: 2rem;
		font-family: Montserrat;
		font-size: 1.5rem;
		display: flex;
		flex-direction: column;
		gap: .75rem;
		max-width: max-content;
		margin-left: 2rem;
	}

	.mobile-navbar ul li {
		color: #797B86;
		cursor: pointer;
	}

	.mobile-navbar ul li:hover {
		color: #a4a7b7;
	}
}