/* #region --- HEADER */

.header-navbar {
	padding-block: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-menu {
	display: flex;
	gap: 2.5rem;

	color: var(--p5);
	font-size: 0.875rem;
	font-weight: 600;
}

.header-menu a {
	transition: 0.3s ease;
}

.header-menu a:hover {
	color: var(--p2);
}

.header-btns {
	display: flex;
	gap: 1rem;
}

/* #endregion */

/* #region --- RESPONSIVO HEADER */

@media (max-width: 1440px) {
	.header-navbar {
		padding-block: 2.5rem;
	}

	.header-menu {
		gap: 2rem;
		font-size: 0.875rem;
	}

	.header-btns {
		gap: 1rem;
	}
}

@media (max-width: 1080px) {
	.header-navbar {
		padding-block: 3rem;
		display: grid;
		grid-template-columns: auto auto;
		gap: 3rem 0.75rem;
		justify-content: space-around;
	}

	.logo {
		grid-column: 1 / -1;
		justify-self: center;
	}

	.header-menu {
		grid-row: 2;
		gap: 1.5rem;
		font-size: 0.75rem;
		background-color: rgba(255, 255, 255, 0.6);
		padding: 0.75rem 1rem;
		border-radius: 0.5rem;
	}

	.header-btns {
		grid-row: 2;
		gap: 0.75rem;
	}
}

@media (max-width: 720px) {
	.header-navbar {
		padding-block: 0.75rem;
		padding-inline: 1.25rem 0.75rem;
		margin-block: 1.5rem;
		border-radius: 0.75rem;
		grid-template-columns: auto auto;
		gap: 0;
		background: var(--c00);
		justify-content: space-between;
		filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));
	}

	.logo {
		grid-row: 1;
		grid-column: 1;
		justify-self: start;
	}

	.header-menu {
		display: none;
	}

	.header-btns {
		grid-row: 1;
		grid-column: 2;
		justify-content: end;
	}
}

/* #endregion */